.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;

  &__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }

  &__search {
    display: flex;
    flex: 1;
    align-items: center;

    &__searchInput {
      height: 12px;
      padding: 10px;
      border: none;
      width: 100%;
    }

    &__searchIcon {
      padding: 5px;
      height: 22px !important;
      background-color: #cd9042;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;

    &__option {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
      color: white;

      &__optionLineOne {
        font-size: 10px;
      }
      &__optionLineTwo {
        font-size: 12px;
        font-weight: 800;
      }
    }
    &__optionBasket {
      display: flex;
      align-items: center;
      color: white;
      flex-direction: row;

      &__optionLineTwo {
        font-size: 12px;
        font-weight: 800;
      }

      &__basketCount {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  &__icon {
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    &__search {
      flex: 0.8;
    }

    &__search {
      &__searchIcon {
        margin-left: -5px;
      }
    }

    &__nav {
      left: 0;
      top: 60px;
      position: absolute;
      background-color: #131921;
      display: none;
      flex-direction: column;
      width: -webkit-fill-available;

      a {
        padding: 10px;
      }

      &__option {
        &__optionLineOne {
          font-size: 12px;
          font-weight: 800;
          padding-right: 5px;
        }
        &__optionLineTwo {
          font-size: 12px;
          font-weight: 800;
          color: #cd9042;
        }
      }

      &__optionBasket {
        align-items: center;
      }
    }
  }
}
